<p-card class="dashboard-card">
  <div style="margin-top: -18px;">
    <b>MANTENIMIENTO - Producto</b>
  </div>
  <hr>
  <br>
  <form [formGroup]="formGroupParent">
    <div class="row">
    </div>
    <div class="row" style="margin-top: -15px;">
      <div class="col-sm-3" align="end" style="margin-top: 17px;">
        <b>Nombre:</b>
      </div>
      <div class="col-sm-6" align="start">
        <mat-form-field appearance="outline" style="width: 70%; font-size: 14px;">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" maxlength="25" formControlName="nombre">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: -15px;">
      <div class="col-sm-3" align="end" style="margin-top: 17px;">
        <b>Precio:</b>
      </div>
      <div class="col-sm-6" align="start">
        <mat-form-field appearance="outline" style="width: 70%; font-size: 14px;">
          <mat-label>Precio</mat-label>
          <input matInput placeholder="Precio" maxlength="100" formControlName="precio" >
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: -15px;">
      <div class="col-sm-3" align="end" style="margin-top: 17px;">
        <b>Stock:</b>
      </div>
      <div class="col-sm-6" align="start">
        <mat-form-field appearance="outline" style="width: 70%; font-size: 14px;">
          <mat-label>Stock</mat-label>
          <input matInput placeholder="Stock" maxlength="100" formControlName="stock">
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: -24px;">
      <div class="col-sm-3" align="end" style="margin-top: 17px;">
        <b>Categoria:</b>
      </div>
      <div class="col-sm-6" align="start">
        <mat-form-field appearance="outline" style="width: 70%; font-size: 14px;">
          <mat-label>--seleccione--</mat-label>
          <mat-select disableRipple formControlName="categoria">
            <mat-option *ngFor="let data of listCat"
              [value]="data.id_tipo_documento">{{data.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm" align="center" >
      <button mat-stroked-button color="accent"  style="width: 30%;" (click)="accion()">Registrar</button>
    </div>
    <div class="col-sm" align="center" >
      <button mat-stroked-button color="accent" style="width: 30%;" (click)="limpiarFormulario()" >Limpiar</button>
    </div>
  </div>

<br>


    <div class="mat-elevation-z7">
        <table mat-table [dataSource]="ELEMENT_DATA" style="width: 100%;">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id_producto}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="precio">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
          </ng-container>
           <!-- Weight Column -->
           <ng-container matColumnDef="categoria">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
          </ng-container>

          <ng-container matColumnDef="Actualizar">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element"> <button mat-icon-button>
              <mat-icon (click)="editarCampos(element)" >edit</mat-icon>
              </button> </td>
          </ng-container>

          <ng-container matColumnDef="Eliminar">
            <th class="textAlign" mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element"> <button mat-icon-button>
                <mat-icon (click)=" eliminarEntidad(element)" >delete</mat-icon>
              </button> </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" showFirstLastButtons>
        </mat-paginator>
    </div>

</p-card>
